form {
  // container
  .container {
    background-color: #bedae1;
    display: flex;
    text-align: center;
    margin: 100px auto;
  }
  // search section
  .search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    input {
      display: flex;
      width: 280px;
      padding: 10px 10px;
      font-size: 1rem;
      border-radius: 6px 0 0 6px;
      border: none;
      background-color: #ebebeb;
      box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
      transition: all 0.2s;
      @media screen and(max-width:300px) {
        width: fit-content;
        &:focus {
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          background-color: #fff;
          transition: all 0.2s ease;
        }
      }
      @media screen and(min-width:300px) {
        &:focus {
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          background-color: #fff;
          transition: all 0.2s ease;
        }
      }
    }
    button {
      padding: 5.3px 4px;
      border-radius: 0 6px 6px 0;
      cursor: pointer;
      font-size: 1rem;
      transition: all 0.3s;
      background-color: #119da1;
      color: #fff;
      &:hover {
        transition: all 0.3s;
        background-color: #067f83;
      }
    }
  }
  .humidity {
    font-size: 0.875rem;
    svg {
      margin: -6px 1px;
      font-size: 1.5rem;
      color: #0367af;
    }
  }
}
