// CSS resets
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  user-select: none;
}
body {
  font-family: "Roboto", sans-serif;
}
// Styles
@import "weather";
